:root {
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --bg-black-900: #f2f2f2;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  outline: 0;
  margin: 0;
}

::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  padding: 0 30px;
  display: block;
  opacity: 1;
}

.hidden {
  display: none !important;
}

.main-content {
  padding-left: 270px;
}

.container {
  max-width: 1100px;
  margin: auto;
  width: 100%;
}

.section .container {
  padding-bottom: 70px;
  padding-top: 60px;
}

.section-title {
  margin-bottom: 60px;
  max-width: 100%;
  flex: 0 0 100%;
}

.section-title h2 {
  color: var(--text-black-900);
  position: relative;
  font-weight: 700;
  font-size: 40px;
}

.section-title h2::before {
  background: var(--skin-color);
  position: absolute;
  content: '';
  height: 4px;
  width: 50px;
  top: 100%;
  left: 0;
}

.section-title h2::after {
  background: var(--skin-color);
  position: absolute;
  margin-top: 8px;
  content: '';
  height: 4px;
  width: 25px;
  top: 100%;
  left: 0;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.padd-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  background: var(--skin-color);
  transition: all 0.3s ease;
  display: inline-block;
  white-space: nowrap;
  border-radius: 40px;
  padding: 12px 35px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  border: none;
}

.btn:hover {
  transform: scale(1.05);
}

.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Side Bar --------------------------------*/
.sideBar {
  border-right: 1px solid var(--bg-black-50);
  background: var(--bg-black-100);
  position: fixed;
  padding: 30px;
  height: 100%;
  width: 270px;
  z-index: 10;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideBar .logo {
  text-transform: capitalize;
  position: absolute;
  font-size: 30px;
  top: 50px;
}

.sideBar .logo a {
  color: var(--text-black-900);
  letter-spacing: 5px;
  padding: 15px 20px;
  position: relative;
  font-weight: 700;
  font-size: 30px;
}

.sideBar .logo a span {
  font-family: 'Clicker Script', cursive;
  font-size: 40px;
}

.sideBar .logo a::before {
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  position: absolute;
  height: 20px;
  width: 20px;
  content: '';
  bottom: 0;
  left: 0;
}

.sideBar .logo a::after {
  border-right: 5px solid var(--skin-color);
  border-top: 5px solid var(--skin-color);
  position: absolute;
  height: 20px;
  width: 20px;
  content: '';
  right: 0;
  top: 0;
}

.sideBar .nav-toggler {
  border: 1px solid var(--bg-black-50);
  background: var(--bg-black-100);
  border-radius: 5px;
  position: fixed;
  cursor: pointer;
  height: 40px;
  width: 45px;
  left: 300px;
  top: 20px;
  display: none;
  align-items: center;
  justify-content: center;
}

.sideBar .nav-toggler span {
  background: var(--skin-color);
  display: inline-block;
  position: relative;
  height: 2px;
  width: 18px;
}

.sideBar .nav-toggler span::before {
  background: var(--skin-color);
  position: absolute;
  content: '';
  height: 2px;
  width: 18px;
  top: -6px;
  left: 0;
}

.sideBar .nav-toggler span::after {
  background: var(--skin-color);
  position: absolute;
  content: '';
  height: 2px;
  width: 18px;
  top: 6px;
  left: 0;
}

.sideBar .nav {
  margin-top: 50px;
}

.sideBar .nav li {
  margin-bottom: 20px;
  display: block;
}

.sideBar .nav li a {
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
  font-weight: 600;
  font-size: 16px;
  display: block;
}

.sideBar .nav li a.active {
  color: var(--skin-color);
}

.sideBar .nav li a i {
  margin-right: 15px;
}

/* Home --------------------------------*/

.home {
  color: var(--text-black-900);
  min-height: 100vh;
  display: flex;
}

.home .home-info {
  max-width: 60%;
  flex: 0 0 60%;
}

h3.hello {
  font-size: 28px;
  margin: 15px 0;
}

h3.hello span {
  font-family: 'Clicker Script', cursive;
  color: var(--skin-color);
  font-weight: 700;
  font-size: 30px;
}

h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}

.typing {
  color: var(--skin-color);
}

.home-info p {
  color: var(--text-black-700);
  margin-bottom: 70px;
  font-size: 20px;
}

.home .home-img {
  text-align: center;
  position: relative;
  max-width: 40%;
  flex: 0 0 40%;
}

.home .home-img::before {
  border-left: 10px solid var(--skin-color);
  border-top: 10px solid var(--skin-color);
  position: absolute;
  height: 80px;
  width: 80px;
  content: '';
  left: -20px;
  top: -40px;
}

.home .home-img::after {
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  position: absolute;
  bottom: -40px;
  height: 80px;
  content: '';
  width: 80px;
  right: 20px;
}

.home .home-img img {
  border-radius: 5px;
  height: 400px;
  margin: auto;
}

/* About --------------------------------*/

.about .about-content {
  max-width: 100%;
  flex: 0 0 100%;
}

.about .about-content .about-text {
  max-width: 100%;
  flex: 0 0 100%;
}

.about .about-content .about-text h3 {
  color: var(--text-black-900);
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
}

.about .about-content .about-text h3 span {
  color: var(--skin-color);
}

.about .about-content .about-text p {
  color: var(--text-black-700);
  line-height: 25px;
  font-size: 16px;
}

.about .about-content .personal-info {
  margin-top: 40px;
  max-width: 60%;
  flex: 0 0 60%;
}

.about .about-content .personal-info .info-item {
  max-width: 50%;
  flex: 0 0 50%;
}

.about .about-content .personal-info .info-item p {
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0;
}

.about .about-content .personal-info .buttons {
  margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
  margin-right: 15px;
  margin-top: 10px;
}

.about .about-content .skills {
  margin-top: 40px;
  max-width: 40%;
  flex: 0 0 40%;
}

.about .about-content .skills .skill-item {
  margin-bottom: 25px;
  max-width: 100%;
  flex: 0 0 100%;
}

.about .about-content .skills .skill-item h5 {
  color: var(--text-black-900);
  text-transform: capitalize;
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
}

.about .about-content .skills .skill-item .progress {
  background: var(--bg-black-50);
  border-radius: 4px;
  position: relative;
  height: 7px;
  width: 100%;
}

.about .about-content .skills .skill-item .progress .progress-in {
  background: var(--skin-color);
  position: absolute;
  border-radius: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.about .about-content .skills .skill-item .skill-percent {
  color: var(--text-black-900);
  position: absolute;
  line-height: 40px;
  font-weight: 400;
  top: -40px;
  right: 0;
}

.about .about-content .experience,
.about .about-content .education {
  margin-top: 30px;
  max-width: 50%;
  flex: 0 0 50%;
}

.about .about-content h3.title {
  color: var(--text-black-900);
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
}

.about .about-content .timeline-box {
  max-width: 100%;
  flex: 0 0 100%;
}

.about .about-content .timeline {
  border: 1px solid var(--bg-black-50);
  background: var(--bg-black-100);
  border-radius: 10px;
  padding: 30px 15px;
  position: relative;
  width: 100%;
}

.about .about-content .timeline .timeline-item {
  padding-bottom: 50px;
  padding-left: 37px;
  position: relative;
}

.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
  background: var(--skin-color);
  position: absolute;
  height: 100%;
  content: '';
  width: 1px;
  left: 7px;
  top: 0;
}

.about .about-content .timeline .circle-dot {
  background: var(--skin-color);
  position: absolute;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  left: 0;
  top: 0;
}

.about .about-content .timeline .timeline-date {
  color: var(--text-black-700);
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
}

.about .about-content .timeline .timeline-date .svg-inline--fa {
  margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
  color: var(--text-black-900);
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
}

.about .about-content .timeline .timeline-text {
  color: var(--text-black-700);
  text-align: justify;
  line-height: 25px;
  font-size: 16px;
}